@CHARSET "UTF-8";

.jumbotron {
	background-color: #735d41;
    color: #eeeae5;
    font-family: Montserrat, sans-serif;
}

#mainContainer {
    border-radius: 15px 50px;
    padding: 20px; 
    top: 20px;
} 

body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}

.btn-info {
  box-shadow: 1px 2px 5px #000000;
}

#header {
	font-size: 80px;
}

#stats_button {
	font-family: Montserrat, sans-serif;
}

.error {
	color: #c09853;
	border: 1px solid red;
}

 .alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
    border: 0;
}

.success {
	color: green;
	border: 2px solid green;
}