@CHARSET "UTF-8";

#header {
    color: #735d41;
    font-family: Montserrat, sans-serif;
}

#preview {
	font-size: 20px;
}

body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}

.other {
	font-size:30px;
}

.date {
	margin-right:40px;
}

#btnStats {
	background-color: #97BBCD
}