@CHARSET "UTF-8";

.jumbotron {
	background-color: #735d41;
    color: #eeeae5;
    font-family: Montserrat, sans-serif;
}

body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}

.other {
	font-size:30px;
}